<form class="pure-form" 
      method="POST" 
      action="{% url 'nexttask:start_toggl' task.pk %}?return_url={{return_url}}&{{pass_on_params}}">
  {% csrf_token %}
  <button class="pure-button pure-button-label"
          id="done"
          title="Start timer for {{ task.name }} and move to top rank">
    <span class="icon">⏱</span>Start Timer
  </button>
</form>

<form class="pure-form pure-form-aligned"
      method="POST"
      action="{% url 'nexttask:mark_task_done' task.pk %}?return_url={{return_url}}&{{pass_on_params}}">
  {% csrf_token %}
  <input
    class="pure-input"
    type="text"
    name="resolution"
    id="resolution"
    title="Resolution"
    size="10"
    value="Done"/>
  <button class="pure-button pure-button-label"
          id="done"
          title="Close {{ task.name }} now">
    <span class="icon">✓</span>Close Task
  </button>
</form>

<form class="pure-form"
      method="POST"
      action="{% url 'nexttask:snooze' task.pk %}?amount=tomorrow&return_url={{return_url}}&{{pass_on_params}}">
  {% csrf_token %}
  <button class="pure-button pure-button-label"
          id="snooze_later"
          title="Snooze {{ task.name }}"><span class="icon">💤</span>Later</button>
</form>

<form class="pure-form"
      method="POST"
      action="{% url 'nexttask:snooze' task.pk %}?amount=later&return_url={{return_url}}&{{pass_on_params}}">
  {% csrf_token %}
  <button class="pure-button pure-button-label"
          id="snooze_later"
          title="Snooze {{ task.name }}"><span class="icon">💤📆</span>&nbsp;&nbsp;&nbsp;&nbsp;Tomorrow</button>
</form>

<form class="pure-form"
      method="POST"
      action="{% url 'nexttask:task_delete' task.pk %}?return_url={{return_url}}&{{pass_on_params}}">
  {% csrf_token %}
  <button class="pure-button pure-button-label"
          id="delete"
          title="Delete {{ task.name }}"><span class="icon">✘</span>Delete</button>
</form>

