{% load tasknotes %}
<h1 class="taskname">
{% if task.pk %}  <a href="{% url 'nexttask:task_update' task.pk %}?{{pass_on_params}}"
     title="{{ task.name }}">
    {{ task.name }}
  </a>{% endif %}
</h1>

{% render_notes_html task %}

{% if task.pk and task.notes %}
<br/>
<form class="pure-form" action="{% url 'nexttask:explode' pk=task.pk %}?{{pass_on_params}}" method="POST">
  {% csrf_token %}
  <button class="pure-button" title="Explode checkboxes into subtasks">&#x269b; Explode checkboxes into subtasks</input>
</form>
{% endif %}
