{% extends "base_nexttask.html" %}
{% block title %}Estimated and Actual Duration of Tasks{% endblock %}
{% load render_table from django_tables2 %}
{% load timetags %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">List</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">
  <div class='column-wrapper'>
    <div class='left-column'>
      {% render_table table %}
    </div>
    <div class='right-column'>
      {% for velocity in velocities %}
      <p>{{ velocity }}: {{ velocity.velocity|singleunittime }} per day.
        <a class="filtercombo_name pure-button" href="{% url 'nexttask:filtercombo_read' velocity.pk %}"
           title="View details">History</a>
      </p>
      {% endfor %}
    </div>
  </div>
</div>

<div class="layout-columns shadowbar">
  <form action="{% url 'nexttask:update_all_estimates' %}" method="GET">
    <button class="pure-button pure-button-primary" id="upd_all_est">Update All Estimates</button>
  </form>
</div>

{% endblock content %}
