{% extends "base_nexttask.html" %}
{% load timetags %}

{% block title %}FilterCombo: {{ filtercombo.name }}{% endblock %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ filtercombo.name }}</span>
</li>
{% endblock %}

{% block content %}
<div class="main-content">
<div class="layout-columns">
<div>
<h1>Name: {{ filtercombo.name }}</h1>
</div>
<div>
<img src="/media/fc{{ filtercombo.pk}}.png"/>
</div>
{% endblock content %}
