{% extends "base_nexttask.html" %}
{% block title %}FilterCombos{% endblock %}
{% load render_table from django_tables2 %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">All FilterCombos</span>
</li>
{% endblock %}


{% block content %}
<div class="main-content">
{% render_table table %}
</div>

<div class="layout-columns shadowbar">
  <span>
    <a id="new Filtercombo"
       class="pure-button pure-button-primary pure-button-disabled"
       href="">New FilterCombo (not implemented)</a></p>
    <a id="edit"
  </span>
</div>


{% endblock content %}
