{% extends "base_nexttask.html" %}

{% block content %}
<form action="import_csv/" name="import" method="post">
<input name="file" placeholder="CSV file to import"/>
{% csrf_token %}
<input type="submit" name="import" value="import Tasks from CSV"/>
</form>

<ol>
<li>Task Name</li>
<li>Order</li>
<li>Estimate</li>
<li>Actual Minutes</li>
<li>Date Added</li>
<li>Date Resolved</li>
<li>Wait Until</li>
<li>Status</li>
<li>Location</li>
<li>Domain</li>
<li>Notes</li>
<li>Origin</li>
<li>Owed to </li>
</li>

{% endblock %}
