{% extends "base_nexttask.html" %}
{% block title %}NextLines: {{ nextline.name}} {% endblock %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ nextline.name }}</span>
</li>
{% endblock %}


{% block content %}

<form class="pure-form pure-form-aligned" action="?{{pass_on_params}}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="pure-form-button pure-form-button-primary" id="save" type="submit" value="Done">Save</button>
</form>

{% endblock content %}
