{% extends "base_nexttask.html" %}
{% load timetags %}

{% block title %}Nextlines: {{ nextline.name }}{% endblock %}


{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ nextline.name }}</span>
</li>
{% endblock %}


{% block content %}
<div class="main-content">
<div class="layout-columns">
<div>
<h1>{{ nextline.name }}</h1>

<p>Target completion: 
  <span title="{{nextline.target_completion}}">
    {{ nextline.target_completion|naturaldayplus }}
  </span>
</p>
<p>Estimated completion: 
  <span title="{{ nextline.forecast_completion }}">
      {% natural_futuredays nextline.forecast_completion|naturaldayplus user %}
  </span>
</p>
<p>

{% if nextline.archived %}Archived.{% endif %}
</div>
<div>
<h2>Remaining Tasks</h2>
<table>
  <tr>
    <th>Task</th>
    <th>Forecast</th>
  </tr>
  {% for task in related_tasks %}
  {% if not task.date_resolved %}
  <tr>
    <td>
      <a href="{% url 'nexttask:task_read' task.pk %}">
	{{ task.name }}
      </a>
    </td>
    <td>
      {% natural_futuredays task.forecast_completion user %}
    </td>
  </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
<div>
<h2>Resolved Tasks</h2>
<table>
  <tr>
    <th>Task</th>
    <th>Resolved</th>
    <th>Resolution</th>
  </tr>
  {% for task in related_tasks %}
  {% if task.date_resolved %}
  <tr>
    <td>
      <a href="{% url 'nexttask:task_read' task.pk %}">
	{{ task.name }}
      </a>
    </td>
    <td>
      {{ task.date_resolved }}
    </td>
    <td>
      {{ task.resolution }}
    </td>
  </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
</div>

<div class="layout-columns shadowbar">
  <span>
    <a id="edit" class="pure-button pure-button-primary" href="{% url 'nexttask:nextline_update' nextline.pk %}">Edit {{ nextline.name }}</a>
  </span>
  <span>
    <a id="delete" class="pure-button pure-button-primary" href="{% url 'nexttask:nextline_delete' nextline.pk %}">Delete {{ nextline.name }}</a>
  </span>
  <span>
      <a id="move_to_top" class="pure-button pure-button-primary" href="{% url 'nexttask:nextline_move_to_top' nextline.pk %}">Move {{ nextline.name }} to top</a>
  </span>
</div>


{% endblock content %}
