{% load humanize %}
{% load timetags %}
{% if record.open_tasks.count == 0 and record.resolved_tasks.count > 0 %}
  <span class="nextline_done"> Completed {{ record.resolved_date|naturaldayplus }}.</span>
{% else %}
  <span class={% if record.is_late %}"nextline_late"{% else %}"nextline_early"{% endif %} title="Forecast: {% natural_futuredays record.forecast_completion user %}">  Forecast: {% natural_futuredays record.forecast_completion user %}.</span>
  {{ record.open_tasks.count }} / {{ record.open_tasks.count|add:record.resolved_tasks.count }} tasks remaining. 
{% endif %}
