{% extends "base_nexttask.html" %}
{% block title %}NextLines{% endblock %}
{% load render_table from django_tables2 %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">All NextLines</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">

{% render_table table %}
</div>
<div class="layout-columns shadowbar">
  <span>
    <a class="pure-button pure-button-primary"
       href="{% url 'nexttask:nextline_create' %}"
       id="new-nextline">New Nextline
    </a>
  </span>
</div>

{% endblock content %}
