{% extends "base_nexttask.html" %}
{% block title %}Tags: {{ tag.name}} {% endblock %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ tag.name }}</span>
</li>

{% endblock %}

{% block content %}

<div class="main-content">
  <form class="pure-form pure-form-aligned" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="pure-button pure-button-primary" id="save" type="submit" value="Done">Done</button>
  </form>
</div>

{% endblock content %}
