{% extends "base_nexttask.html" %}
{% block title %}Tags: {{ tag.name }}{% endblock %}


{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ tag.name }}</span>
</li>
{% endblock %}

{% block content %}
<div class="main-content">
<h1>Name: {{ tag.name }}</h1>
</div>

<div class="layout-columns shadowbar">
  <span>
    <a class="pure-button pure-button-primary"
       id="edit" 
       href="{% url 'nexttask:tag_update' tag.pk %}">Edit {{ tag.name }}
    </a>
  </span>
  <span>
    <a class="pure-button pure-button-primary"
       id="delete"
       href="{% url 'nexttask:tag_delete' tag.pk %}">Delete {{ tag.name }}
    </a>
  </span>
</div>

{% endblock content %}
