{% extends "nexttask/dj2_base_table.html" %}
{% load tag_filter %}
{% block table.extrathead %}

  <thead class="pure-form">
      <form class="pure-form" action="create/?{{ context.pass_on_params}}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="put_at_top" value="top"/>
    {% if table.context.default_tag_id %}
    <input type="hidden" name="tags" value="{{ table.context.default_tag_id }}"/>
    {% endif %}
    <tr>
      <td colspan="2" width="200px">
	  <input class="pure-input" id="top_name" tabindex=1 autofocus placeholder="new task name" size="30" maxlength="500" name="name" type="text" />
      </td>
      <td colspan="1">
	  <input class="pure-input" id="top_estimate" tabindex=2 placeholder="estimate" size="5" maxlength="50" name="estimate" type="text" />
      </td>
      <td colspan="2"></td>
      <td colspan="1">
	  {{ table.context.default_tag_name }}
      </td>
      <td colspan="3">
        <button class="pure-button pure-button-primary" id="submitTaskTop" tabindex=3>
	  Add to top
        </button>
      </td>
    </tr>
    </form>
  </thead>    

{% endblock %}

{% block table.tfoot %}
<tfoot class="pure-form">
  <form class="pure-form" action="create/?{{ pass_on_params }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="put_at_top" value="bottom"/>
    {% if table.context.default_tag_id %}
    <input type="hidden" name="tags" value="{{ table.context.default_tag_id }}"/>
    {% endif %}
    <tr>
      <td colspan="2">
	<div class="fieldWrapper centered">
	  <input class="pure-input" id="bottom_name" placeholder="new task name" tabindex=4 size="30" maxlength="500" name="name" type="text" />
	</div>
      </td>
      <td colspan="1">
	<div class="fieldWrapper centered">
	  <input class="pure-input" id="bottom_estimate" tabindex=5 size="5" placeholder="estimate" maxlength="5" name="estimate" type="text" />
	</div>
      </td>
      <td colspan="2"></td>
      <td colspan="1">
	<div class="centered">
	  {{ table.context.default_tag_name }}
	</div>
      </td>
      <td colspan="3">
	<div class="fieldWrapper centered">
          <button class="pure-button pure-button-primary" id="submitTaskBottom" tabindex=6>
	    Add to bottom
          </button>
	</div>
      </td>
    </tr>
  </form>
</tfoot>    
{% endblock %}
