{% extends "base_nexttask.html" %}
{% load breadcrumbs %}
{% load tasknotes %}
{% block title %}{{object.name}}{% endblock %}

{% block breadcrumb_trail %}
{{ block.super }}
{% breadcrumb_tasks %}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ task.name }}</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">
  {% if task.link_list|length > 1 %} 
  <nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% for link in task.link_list %}
      {% if forloop.counter0 > 0 %}
      <li>
        <a href="{{ link.0 }}">{{ link.1 }} {{ link.3 }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <div class="layout-columns">
    <div>
      {% include "includes/task_notes_field_rendered.html" %}
    </div>

    <div>
      <form class="pure-form pure-form-aligned" action="?{{pass_on_params}}" method="post">
        {% csrf_token %}
        <div class="center">
          <button class="pure-button pure-button-primary" id="save_top">Save Changes</button>
        </div>
        {% for field in form %}
        <div class="pure-control-group">
          <label>{{ field.label_tag|nocolon }}</label>
          {{ field }}
          <span class="pure-form-message-inline"> 
            {{ field.errors }}
            {{ field.help_text|safe }}
          </span>
        </div>
        {% endfor %}
        <div class="center">
          <button type="submit" class="pure-button pure-button-primary center" id="save_bottom">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if task %}
<div class="layout-columns shadowbar">
  {% include "includes/task_bottom_bar.html" %}
</div>
{% endif %}

{% endblock content %}
