{% load humanize %}

{% load timetags %}
<a class="pure-button snooze_tomorrow" 
   href="{% url 'nexttask:snooze' record.pk%}?{{ pass_on_params }}&return_url={{ return_url }}&amount=tomorrow"
   title="Snooze {{ record.name }} until tomorrow">💤📆</a>&nbsp;
<span title="{% date_futuredays record.forecast_completion user %} (cumulative {{record.forecast_cum_dur|singleunittime}} at x minutes/day.)  Added {{ record.date_added|naturaldayplus }}">{% natural_futuredays record.forecast_completion user %}</span>
