{% extends "base_nexttask.html" %}
{% load breadcrumbs %}
{% load timetags %}
{% load humanize %}
{% load tasknotes %}
{% block title %}{{object.name}}{% endblock %}

{% block breadcrumb_trail %}
{{ block.super }}
{% breadcrumb_tasks %}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ task.name }}</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">
  {% if task.link_list|length > 1 %} 
  <nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% for link in task.link_list %}
      {% if forloop.counter0 > 0 %}
      <li>
        <a href="{{ link.0 }}">{{ link.1 }} {{ link.3 }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <div class="layout-columns">
    <div>
      {% include "includes/task_notes_field_rendered.html" %}
    </div>

    <div>
      <div class="center">
        <form class="pure-form" action="{% url 'nexttask:task_update' task.pk %}?{{pass_on_params}}">
          {% csrf_token %}
          <button class="pure-button pure-button-primary">Edit</button>
        </form>
      </div>
      <form class="pure-form pure-form-aligned">
        <div class="pure-control-group">
          <label for="id_name">Name</label>
          <input id="id_name" type="text" readonly="readonly" value="{{ task.name }}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_estimate">Estimated Size</label>
          <input id="id_estimate" type="text" readonly="readonly" value="{{ task.estimate }}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_duration">Duration</label>
          <input id="id_duration" type="text" readonly="readonly" value="{% if task.date_resolved and task.duration %}
                                                                         Actual: {{ task.duration|singleunittime }}
                                                                         {% elif task.forecast_duration %}
                                                                         Forecast: {{ task.forecast_duration|singleunittime }}
                                                                         {% endif %}{{ task.forecast_duration }}
                                                                         "/>
        </div>

        <div class="pure-control-group">
          <label for="id_completion">Completion Date</label>
          <input id="id_completion" readonly="readonly" value="Estimated: {% date_futuredays task.forecast_completion user %}">
          <span>
            {% if task.date_resolved %}
            <p>
              Completed: <span title="{{ task.date_resolved }}">{{ task.date_resolved|naturaltime }}</span> (resolution: {{ task.resolution|default_if_none:"unspecified" }})
            </p>
            {% endif %}
          </span>
        </div>

        <div class="pure-control-group">
          <label for="id_date_added">Added</label> 
          <input id="id_date_added" readonly="readonly" value="{{ task.date_added|naturaldayplus }}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_date_deleted">Deleted</label> 
          <input id="id_date_deleted" readonly="readonly" value="{{ task.date_deleted|naturaldayplus }}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_wait_until">Wait until</label> 
          <input id="id_date_deleted" readonly="readonly" value="{{ task.wait_until|naturaltime }}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_order">Order</label>
          <input id="id_order" readonly="readonly" value="{{ task.task_order }}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_tags">Tags</label>
          <input id="id_tags" readonly="readonly" value="{% for tag in task.tags.all %}{{ tag }} {% endfor %}"/>
        </div>

        <div class="pure-control-group">
          <label for="id_nextline">Nextline</label>
          <input id="id_nextline" readonly="readonly" value="{{ task.nextline }}"/>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="layout-columns shadowbar">
  {% include "includes/task_bottom_bar.html" %}
</div>
{% endblock content %}
