{% extends "base_nexttask.html" %}
{% block title %}{{ title }}{% endblock %}
{% load timetags %}

{% load render_table from django_tables2 %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ title }}</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">
<h1>{{ title }} ({{ done_since|naturaldayplus }})</h1>

{% render_table table %}
</div>
{% endblock content %}
