<a class="pure-button move_to_top"
   href="{% url 'nexttask:move_task_to_edge' pk=record.pk %}?{{pass_on_params}}&direction=top"
   title="Move {{ record.name }} to top">↥</a>
<a class="pure-button move_up"
   href="{% url 'nexttask:move_task' pk=record.pk %}?{{pass_on_params}}&direction=up"
   title="Move {{ record.name }} up">⇧</a>
<a class="pure-button move_down" 
   href="{% url 'nexttask:move_task' pk=record.pk %}?{{pass_on_params}}&direction=down"
   title="Move {{ record.name }} down">⇩</a>
<a class="pure-button move_to_bottom"
   href="{% url 'nexttask:move_task_to_edge' pk=record.pk %}?{{pass_on_params}}&direction=bottom"
   title="Move {{ record.name }} to bottom">↧</a>
