<form class="pure-form" method="POST" action="{% url 'nexttask:mark_task_done' record.pk %}?{{pass_on_params}}">
  {% csrf_token %}
  <button class="pure-button abandon" title="Abandon {{ record.name }}">⌫</button>
  <input type="hidden" name="resolution" value="Abandoned"/>
</form>
