{% extends "base_nexttask.html" %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load tag_filter %}
{% load breadcrumbs %}

{% block title %}Tasks {% if tag_list_pretty %}| {{tag_list_pretty}} {% endif %}{% endblock %}

{% block breadcrumb_trail %}
{{ block.super }}
{% breadcrumb_tasks %}
{% endblock %}

{% block content %}
<div id="layout" class="main-content layout-columns">
  <div>
    <div>
      {% render_table table %}
    </div>
  </div>
  <nav>
    {% task_filterbar %}
  </nav>
</div>
<div class="layout-columns layout-0 shadowbar">
  <a class="pure-button" href="{% url 'nexttask:task_create' %}?{{pass_on_params}}" method="GET" id="new_task">New Task</a>
  <a class="pure-button" href="{% url 'nexttask:phabricator_sync' %}?{{pass_on_params}}&tag={{default_tag_id}}" id="phab_sync">Sync from Phabricator</a>
  <a class="pure-button" href="{% url 'nexttask:update_all_estimates' %}?{{pass_on_params}}&tag={{default_tag_id}}" id="upd_all_est">Update All Estimates</a>
</div>

{% endblock content %}
