{% load humanize %}
{% load timetags %}

<a href="{% url 'nexttask:task_update' record.pk %}?{{pass_on_params}}"
   class="taskname"
   title="{{ record.name }}">
  
  {% if record.date_resolved %}
  <span title="Closed {{ record.date_resolved }}"><strike>{{ record.name|truncatechars:50 }}</strike></span>
  {% else %}
  {{ record.name|truncatechars:50 }}
  {% endif %}

  {% for link in record.link_list %}
    <br/><a class="{% if link.2 == 'closed' %}closed_remote{% else %}open_remote{% endif %}"
        href="{{ link.0 }}">{{ link.3 }}</a></p>
  {% endfor %}

</a>

{% if record.is_final_for_nextline %}
<p>Final task for Nextline 
  <a href="{% url 'nexttask:nextline_read' record.nextline.pk %}" class="nextline">
    {{record.nextline }}
  </a>
  due 
  {% if record.nextline.is_late %}
  <span class="late" title="{{record.nextline.target_completion}}">{{record.nextline.target_completion|naturaldayplus }} (LATE)</span>
  {% else %}
  <span class="early" title="{{record.nextline.target_completion}}">{{record.nextline.target_completion|naturaldayplus }}</span>
  {% endif %}
  <a href="{% url 'nexttask:nextline_move_to_top' record.nextline.pk %}?{{pass_on_params}}"
     class="pure-button move_nextline_to_top"
     title="Move NextLine to top">
     ↥
     </a>
</p>
{% endif %}

{% if show_snoozed and record.wait_until > now %}
  snoozed until {{ record.wait_until|naturaltime }}
{% endif %}

{% if record.date_resolved %}
  Closed {{ record.date_resolved|naturaltime }}
{% endif %}
