{% extends "base_nexttask.html" %}
{% block title %}Recently Added Tasks{% endblock %}
{% load render_table from django_tables2 %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">Tasks Added Today</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">
<h1>Recently Added Tasks</h1>

{% render_table table %}
</div>
{% endblock content %}
