{% extends "base_nexttask.html" %}

{% block content %}
<div class="main-content">

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete {{ object }}"?>
</form>
</div>

{% endblock content %}
