<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
  <span class="pure-menu-heading">Active Filter Placeholder</span>
  <ul class="pure-menu-children">
    {% if active_filtercombo %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ return_url}}?filtercombo=reset">All</a>
    </li>
    {% else %}
    <li class="pure-menu-item pure-menu-selected">
      <a class="pure-menu-link">All</a>
    </li>
    {% endif %}

    {% for record in filtercombo_list %}
    {% if record == active_filtercombo %}
    <li class="pure-menu-item pure-menu-selected">
      <a class="pure-menu-link>{{ record.name }}"></a>
    </li>
    {% else %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ return_url}}?filtercombo={{ record.id }}">{{ record.name }}</a>
    </li>
    {% endif%}
    {% endfor %}
    {% if active_filtercombo == 'custom' %}
    <li class="pure-menu-item">
      <a class="pure-menu-link pure-menu-selected">Custom</a>
    </li>
    {% else %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ return_url}}?filtercombo=custom&{{ pass_on_params}}">Custom</a>
    </li>
    {% endif %}
  </ul>
</nav>
