<div class="layout-columns">
  <div>
    {% include "includes/task_notes_field_rendered.html" %}
  </div>
  
  <div class="layout-rows layout-flexend">
    {% include "includes/task_bottom_bar.html" %}
  </div>
</div>
