<div class="layout-rows" id="filterbar">
  <form class="pure-form" action="" method="get">
    <button class="pure-button" id="filter">
      Update Filter
    </button>
    <ul>
      <li>
        
        <div id="div_id_show_closed">
          <div>
            <label for="id_show_closed">
              <input 
	        class="checkboxinput" 
	        id="id_show_closed" 
	        name="show_closed" 
	        type="checkbox"
	        {% if show_closed %} checked="checked" {% endif %}
	        />
              Show Closed Tasks
            </label>
          </div>
        </div>
      </li>
      
      <li>
        <div id="div_id_show_snoozed">
          <div>
            <label for="id_show_snoozed">
              <input
	        class="checkboxinput"
	        id="id_show_snoozed"
	        name="show_snoozed"
	        type="checkbox" 
	        {% if show_snoozed %} checked="checked" {% endif %}
	        />
              Show Snoozed Tasks
            </label>
          </div>
        </div>
      </li>

      <li>
        <div id="div_id_name">
          <label for="id_name">
            Text includes ...
          </label>
          <div>
            <input
              id="id_text_filter"
              name="text_filter"
              type="text"
              size="10"
              value="{% if text_filter%}{{ text_filter }}{% endif %}" />
          </div>
          <br/>
        </div>
      </li>

      <li>
        <span class="include_tag">Include</span>
        <span class="exclude_tag">Exclude</span>
      </li>

      {% for record in tag_queryset %}
      <li>
        <input class="include_tag"
	       type="checkbox" 
	       {% if record.id in include_tags %}checked="checked"{% endif%}
	       name="tags" 
	       value="{{record.id}}" />

        <label class="filter_tag_name">{{ record.name }}</label>

        <input class="exclude_tag"
               type="checkbox" 
	       {% if record.id in exclude_tags %}checked="checked"{% endif%}
	       name="exclude_tags" 
	       value="{{record.id}}" />
        
      </li>
      {% endfor %}

    </ul>
    <button class="pure-button" id="filter bottom">
      Update Filter
    </button>
  </form>
</div>


