<ul class="whatnext_outline">
{% for row in rendered_notes %}
  {% for i in row.indent %}
      <ul>
        <li {% if forloop.last %} class="{{ row.class }}" {% endif %}>
  {% endfor %}
  {% for i in row.outdent %}
        </ul>
      </li>
  {% endfor %}
  {% if not row.indent %}
    <li class="{{ row.class }}">
  {% endif %}

  {% if row.url %}
  <a class="{{ row.class }}" href="{{ row.url }}">{{ row.subtask_name }}</a>
  {% else %}
  <form method="POST" name="slice_{{ row.key }}" action="{{ row.slice_url }}?{{ pass_on_params }}">
    <span class="{{ row.class }}">{{ row.html|safe }}</span>
    <button class="pure-button" type="submit" alt="Slice into subtask">✀</button>
    {% csrf_token %}  </form>
  {% endif %}

  {% if row.resolve_url %}
  <form class="pure-form" method="POST" name="resolve_{{ row.key }}" action="{{ row.resolve_url }}?{{ pass_on_params }}">
    <input type="hidden" name="resolution" value="done"/>
    <button class="pure-button" type="submit" alt="Mark Done">🗹</button>
    {% csrf_token %}  </form>
  {% endif %}

  {% if row.cut_url %}
  <form class="pure-form" method="POST" name="cut_{{ row.key }}" action="{{ row.cut_url }}?{{ pass_on_params }}">
    <input type="hidden" name="resolution" value="done"/>
    <button class="pure-button" type="submit" alt="Mark Done">drop</button>
    {% csrf_token %}  </form>
  {% endif %}

  </li>
{% endfor %}

</ul>

