{% load static %}
{% load breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/pure-min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/initial-but-not-simpler.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/s-brand-identity.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <meta charset="utf-8">
    <title>What Next?</title>
  </head>
  <body>
    <nav class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
            {% in_path request '^/$' as at_root %}
            {% if at_root %}
          <a class="pure-menu-link breadcrumb-end">
            🏠 What Next?
          </a>
          {% else %}
          <a class="pure-menu-link" href="/">🏠 What Next?</a> 
          {% endif %}
        </li>
        {% breadcrumb 'packages' %}
        {% block breadcrumb_trail %}
        {% endblock %}
      </ul>
    </nav>

    {% if messages %}
    <div class="messages">
      <ul>
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>

