{% if active_crumb %}
<li class="pure-menu-item">»</li>
{% endif %}
<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
  <a class="pure-menu-link"
     accesskey="{{ active_crumb.2}}"
     href="{{ active_crumb.1 }}">
    {{ active_crumb.0|safe }}
  </a>
  <ul class="pure-menu-children">
    {% for link in other_choices %}
    <li class="pure-menu-item">            
      <a class="pure-menu-link"
         accesskey="{{ link.2}}"
         href="{{ link.1 }}">
        {{ link.0|safe }}
      </a>
    </li>
    {% endfor %}
  </ul>
</li>
