{% extends 'base.html' %}


{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
  {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please log in with an account that has access.</p>
  {% else %}
<p>To use What Next? you must <a href="{% url 'social:begin' 'google-oauth2'%}">Log in via Google</a> or <a href="{% url 'local_login' %}">with a WhatNext account</a>.</p>
  {% endif %}
{% else %}
<p>To use What Next? you must <a href="{% url 'social:begin' 'google-oauth2'%}">Log in via Google</a> or <a href="{% url 'local_login' %}">with a WhatNext account</a>.</p>
{% endif %}

{% endblock %}
