{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/pure-min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/initial-but-not-simpler.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/s-brand-identity.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <meta charset="utf-8">
    <title>What Next?</title>
    </head>
  <body>
    <nav class="right">
      <ul>
        <li>What Next?</li>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>

