{% load static %}
{% load breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/pure-min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'whatnext/s-brand-identity.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <meta charset="utf-8">
    <title>What Next?</title>
  </head>
  <body>
    <nav class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/">🏠 What Next?</a> 
        </li>
        <li class="pure-menu-item">»</li>
        <li class="pure-menu-item">
          <span class="breadcrumb-end">Style Guide</span>
        </li>
      </ul>
    </nav>
    <div class="messages">
      <ul>
        <li class="info">
          info: Select a filter first, so that new tasks from Phabricator can be tagged.
        </li>
        <li class="success">
          success: Select a filter first, so that new tasks from Phabricator can be tagged.
        </li>
        <li class="warning">
          warning: Select a filter first, so that new tasks from Phabricator can be tagged.
        </li>
        <li class="error">
          error: Select a filter first, so that new tasks from Phabricator can be tagged.
        </li>
        <li class="debug">
          debug: Select a filter first, so that new tasks from Phabricator can be tagged.
        </li>
      </ul>
    </div>
    
    <div class="main-content">
      <table style="font-family: var(--mono); text-align: left; font-size: 50%; border-spacing:5px;">
        <tr style="background-color: var(--more-bg)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --more-bg:    #fdf6e3;  Base3  </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--bg)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>       --bg:    #eee8d5;  Base2  </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--least-fg)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
> --least-fg:    #93a1a1;  Base1  </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--less-fg)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --less-fg:    #839496;  Base0  </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--fg)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>       --fg:    #657b83;  Base00 </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--more-fg)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --more-fg:    #586e75;  Base01 </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--highlight)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>--highlight:    #073642;  Base02 </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--highlightest)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>--highlightest: #002b36;  Base03 </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--warning)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --warning:    #b58900;  Yellow </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--error)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>    --error:    #859900;  Green </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--disabled)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
> --disabled:    #e1e1e1;  gray </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--message)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --message:    #d33682;  Magenta </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--accent)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>   --accent:    #6c71c4;  Violet </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--input)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>    --input:    #2aa198;  Cyan </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--sec-nav)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --sec-nav:    #cb4b16;  Orange </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
        <tr style="background-color: var(--pri-nav)">
          <th style="white-space: pre; font-weight: normal; color:var(--fg); background-color:var(--bg)"
>  --pri-nav:    #dc322f;  Red </th>
          <td style="padding: 0.2rem; color: var(--more-bg)">more-bg</td>
          <td style="padding: 0.2rem; color:var(--bg)">bg</td>
          <td style="padding: 0.2rem; color:var(--least-fg)">least-fg</td>
          <td style="padding: 0.2rem; color:var(--less-fg)">less-fg</td>
          <td style="padding: 0.2rem; color:var(--fg)">fg</td>
          <td style="padding: 0.2rem; color:var(--more-fg)">more-fg</td>
          <td style="padding: 0.2rem; color:var(--highlight)">highlight</td>
          <td style="padding: 0.2rem; color:var(--highlightest)">highlightest</td>
          <td style="padding: 0.2rem; color:var(--warning)">warning</td>
          <td style="padding: 0.2rem; color:var(--error)">error</td>
          <td style="padding: 0.2rem; color:var(--disabled)">disabled</td>
          <td style="padding: 0.2rem; color:var(--message)">message</td>
          <td style="padding: 0.2rem; color:var(--accent)">accent</td>
          <td style="padding: 0.2rem; color:var(--input)">input</td>
          <td style="padding: 0.2rem; color:var(--sec-nav)">sec-nav</td>
          <td style="padding: 0.2rem; color:var(--pri-nav)">pri-nav</td>
        </tr>
      </table>
    </div>
  </body>
</html>


