{% load clog_extras %}
{% load tag_filter %}
{% load first_task %}
{% load breadcrumbs %}
{% if first_clog %}
<table class="clog_logentry first_clog" style="width: 20rem;">
  <tr class="clog_variable_row" style="width: 20rem;">
    <th style="width: 10rem;">
      {{ variable.name }}
    </th>
    {% get_logentry_form_fields varreport first_clog.id today first_clog.type as fields %}
    {% include 'includes/variable_cell.html' with variable=variable fields=fields return_url=return_url pass_on_params=pass_on_params%}
    <td>
      <form class="pure-form"
            method="POST"
            action="{% url 'clog:snooze' first_clog.pk %}?amount=later&return_url={{return_url}}&{{pass_on_params}}">
        {% csrf_token %}
        <button class="pure-button pure-button-label"
                id="snooze_later"
                title="Snooze {{ first_clog.name }}"><span class="icon">💤</span>Later</button>
      </form>

      <form class="pure-form"
            method="POST"
            action="{% url 'clog:snooze' first_clog.pk %}?amount=tomorrow&return_url={{return_url}}&{{pass_on_params}}">
        {% csrf_token %}
        <button class="pure-button pure-button-label"
                id="snooze_later"
                title="Skip {{ first_clog.name }}"><span class="icon">🔇</span>Skip Today</button>
      </form>

    </td>
  </tr>
</table>
{% elif first_task %}
<div>
  {% first_task_row %}
</div>
{% else %}
No Clogs or Tasks due next.
{% endif %}
