/*———————————————————————————————————————————————————————————*/
/* Color scheme                                              */
/*———————————————————————————————————————————————————————————*/

/* Gruvbox Dark */

/* :root { */
/*   --more-bg:     #1d2021; /\* bg0_h *\/ */
/*   --bg:          #192828; /\* bg0   *\/ */
/*   --least-fg:    #a89984; /\* fg4   *\/ */
/*   --less-fg:     #bdae93; /\* fg3   *\/ */
/*   --fg:          #d5c4a1; /\* fg2   *\/ */
/*   --more-fg:     #ebdbb2; /\* fg1   *\/ */
/*   --highlight:   #fbf1c7; /\* fg0   *\/ */
/*   --highlightest:#f9f5d7; /\* bg0_h light mode *\/ */
/*   --warning:     #98971a; /\* green 1st row *\/ */
/*   --error:       #b8bb26; /\* green 2nd row *\/ */
/*   --disabled:    #a89984; /\* gray *\/ */
/*   --magenta:     #d3869b; /\* purple 2nd row *\/ */
/*   --violet:      #b16286; /\* purple 1st row *\/ */
/*   --input:       #928374; /\* other gray *\/ */
/*   --sec-nav:     #fe8019; /\* orange 2nd row *\/ */
/*   --pri-nav:     #d65d0e; /\* orange 1st row *\/ */
/* } */


/* /\* Solarized Dark *\/ */

/* :root { */
/*   --more-bg: #002b36; */
/*   --bg: #073642; */
/*   --least-fg: #586e75; */
/*   --less-fg: #657b83; */
/*   --fg: #839496; */
/*   --more-fg: #93a1a1; */
/*   --highlight: #eee8d5; */
/*   --highlightest: #fdf6e3; */
/*   --warning: #b58900; */
/*   --error: #cb4b16; */
/*   --red: #dc322f; */
/*   --magenta: #d33682; */
/*   --violet: #6c71c4; */
/*   --blue: #268bd2; */
/*   --sec-nav: #2aa198; */
/*   --pri-nav: #859900; */
/* } */


/* Solarized Light */
:root {
  --more-bg:     #fdf6e3; /* Base3  */
  --bg:          #eee8d5; /* Base2  */
  --least-fg:    #93a1a1; /* Base1  */
  --less-fg:     #839496; /* Base2  */
  --fg:          #657b83; /* Base00 */
  --more-fg:     #586e75; /* Base01 */
  --highlight:   #073642; /* Base02 */
  --highlightest:#002b36; /* Base03 */
  --warning:     #b58900; /* Yellow */
  --error:       #859900; /* Green */
  --disabled:    #a8a8a8; /* gray */
  --magenta:     #d33682; /* Magenta */
  --violet:      #6c71c4; /* Violet */
  --input:       #2aa198; /* Cyan */
  --sec-nav:     #cb4b16; /* Orange */
  --pri-nav:     #dc322f; /* Red */
}
*/


/*———————————————————————————————————————————————————————————*/
/* Erik Meyer's Reset                                        */
/*———————————————————————————————————————————————————————————*/

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: 1.15;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
}
a img, :link img, :visited img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
    content: "";
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none
    padding: 0;
}

/*———————————————————————————————————————————————————————————*/
/* Sitewide                                                  */
/*———————————————————————————————————————————————————————————*/


@font-face {
    font-family: 'Quadraat Sans OT';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quadraat Sans OT, Italic';
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Quadraat Sans OT';
    font-weight: normal;
    font-style: normal;
}


:root {
    --sans-serif: Quadraat Sans OT, Helvetica, Roboto; sans-serif;
    --serif: Quadraat OT, Bliss Pro, Myriad Pro, Helvetica, serif;
    font-family: var(--serif);
    font-size: 16pt;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-variant-ligatures: common-ligatures;
    font-variant-ligatures: contextual;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

body {
    background-color: var(--bg);
}

h1 {
    font-family: var(--sans-serif);
    font-size: 200%;
}

h2 {
    font-family: var(--sans-serif);
    font-size: 160%;
}

h3 {
    font-family: var(--sans-serif);
    font-size: 130%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

button {
    display: inline-block;
    text-align: center;
    decoration: none;
    font-family: var(--sans-serif);
    margin: 0.1rem 0;
    border: solid 1px transparent;
    border-radius: 0.1rem;
    padding: 0.1rem 0.2rem;
    color: var(--more-bg);
    background-color: var(--least-fg);
}

button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

button:focus, button:hover {
    color: var(--less-fg);
    background-color: var(--more-bg);
}

input[type="text"] {
    color: var(--bg);
    background-color: var(--more-bg);
    border: 1px solid var(--input);
    border-radius: 0.1rem;
}

input[type="number"] {
    color: var(--bg);
    background-color: var(--more-bg);
    border: 1px solid var(--input);
    border-radius: 0.1rem;
}

input:focus,
input:hover {
    color: var(--highlight);
    border: 2px solid var(--input);
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: var(--more-bg);
    color: var(--highlightest);
    height: 0.5rem;
    width: 0.5rem;
    border: 1px solid var(--least-fg);
}

input[type="checkbox"].removed {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: var(--more-bg);
    color: var(--highlightest);
    border: none;
}

.bullet {
    width: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.2rem;
    color: var(--least-fg);
}

input[type="checkbox"]:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

input[type="checkbox"]:checked {
    background: var(--bg);
}

label.complete {
    color: var(--least-fg);
    opacity: 0.8;
}

label.removed {
    color: var(--least-fg);
    opacity: 0.4;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
    background: var(--bg);
    filter: brightness(90%);
    border: 1px solid var(--highlightest);
}

input[type="checkbox"]:disabled {
    background: var(--input);
    opacity: 0.6;
    pointer-events: none;
    border: 1px solid var(--bg);
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid var(--highlightest);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"].removed:after {
    content: '✂';
    font-size: 70%;
    position: relative;
    transform: translate(-0.25rem, -0.2rem);
    border: none;
    display: none;
}

input[type="checkbox"].removed:hover,
input[type="checkbox"].removed:focus {
    filter: brightness(90%);
    border: none;
    background-color: var(--least-fg);
}

input[type="checkbox"].removed::active {
    transform: translateY(1px);
    filter: saturate(150%);
}

input[type="checkbox"]:checked:after {
    display: block;
}

input[type="checkbox"]:disabled:after {
    border-color: var(--bg);
}

form.share_vars label {
    text-align: left;
}

form.share_vars li {
    list-style-type: none;
}

nav {
    display: flex;
    font-family: var(--sans-serif);
    background-color: var(--more-bg);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav div {
    flex: 1;
    text-align: center; 
    margin: 0.1em;
    border: 2px solid var(--pri-nav);
}

nav.secondary div {
    border: 1px solid var(--sec-nav);
}

nav a {
    color: var(--fg);
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav a:hover {
    color: var(--highlight);
    text-shadow: var(--fg) 0 0 0.15rem;
    text-decoration: underline;
}

.varname {
    font-size: 500%;
    font-weight: 400;
}

ul.full-screen-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100vw;
}

ul.full-screen-list li {
    text-align: center;
}

ul.full-screen-list a {
    display: block;
    color: var(--more-bg);
    padding: 5vw 4vw;
    border: 0.2vw var(--highlightest);
    background-color: var(--bg);
    height: 100%;
}

ul.full-screen-list a:hover {
    color: var(--more-bg);
    text-shadow: var(--highlightest) 0 0 0.15rem;
}

.column-wrapper {
    display: flex;
}

.left-column {
    flex: 0 0 50%;
}

.right-column {
    flex: 1;
}

.table_page {
    background: var(--bg);
    display: flex;
    flex-direction: column;
}

.table_page > div {
    display: flex;
}

.table_page div#tasktable {
    margin-top: 1rem;
    margin-left: 1rem;
}
   
.home_page {
    display: flex;
    flex-direction: column;
}

.home_page > div {
    flex: 5;
    display: flex;
    padding-top: 3vh;
}

.home_page > div > div {
    flex: 9;
}

.home_page > div > div.label {
    flex: 1;
    font-size: 500%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--least-fg);
    padding-right: 2vw;
}

/*———————————————————————————————————————————————————————————*/
/* Buttonrow */
/*———————————————————————————————————————————————————————————*/

div.buttonrow {
    display: flex;
    font-family: var(--sans-serif);
    background-color: var(--more-bg);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.buttonrow > div {
    flex: 1;
    text-align: center; 
    margin: 0.1em;
    justify-content: center;
}

a.buttonrow_selected {
    font-weight: bold;
    text-shadow: var(--highlightest) 0 0 0.15rem;
}

.actionrow div a:hover {
    color: var(--more-bg);
    text-shadow: var(--highlightest) 0 0 0.15rem;
}

.actionrow_selected {
    font-weight: bold;
    text-shadow: inherit!important;
}

.single_item {
    display: flex;
    flex-direction: column;
}

.single_item > div {
    flex: 1;
}

.single_item > div.name {
    flex: 3;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 500%;
    text-align: center;
    color: var(--more-fg);
    background-color: var(--bg)
}

.single_item .name a {
    color: var(--fg);
    text-decoration: none;
}

.single_item .name a:hover {
    color: var(--more-fg);
    background-color: var(--fg);
    text-shadow: var(--highlightest) 0 0 0.15rem;
}

tr.fieldWrapper {
    font-family: var(--sans-serif);
}

.fieldWrapper th {
    vertical-align: text-top;
    text-align: right;
    padding: 0.5rem;
}

.fieldWrapper th label {
    color: var(--least-fg);
    opacity: 0.8;
}

.fieldWrapper input {
    border: none;
}

.fieldWrapper textarea {
    height: 30rem;
    border: none;
    background-color: var(--least-fg);
}

.fieldWrapper td input[disabled] {
    color: var(--fg);
    background-color: var(--more-bg);
}
/*———————————————————————————————————————————————————————————*/
/* Clog */
/*———————————————————————————————————————————————————————————*/

.clog_varname {
    font-size: 400%;
    font-weight: 400;
}

.clog_logcell {
    text-align: center;
    vertical-align: middle;
    border-radius: 1px;
}

.clog_good {
    background-color: #66BB6A;
}

.clog_okay {
    background-color: #A5D6A7;
}

.clog_bad {
    background-color: #E8F5E9;
}

.clog_logentry {
  border-collapse: collapse;
  width: 100%;
}

.clog_clog_datecol2, .clog_datecol3, .clog_datecol4, .clog_datecol5, .clog_datecol6 {
  width: 5vw;
}

.clog_datecol1, .clog_datecol7, .clog_datecol8 {
  width: 10vw;
}

clog_form {
    margin: 0;
}

table.clog_count_report {
    border-spacing: 0em;
}

table.clog_count_report td {
    border: 0.1em solid var(--more-fg);
    padding: 0.3em;
    height: 2.5em;
}

.clog_divider {
    height: 1.5vh;
    background: lightgray;
}

th.clog_divider {
    background: none;
}

td.clog_logcell input[type=checkbox] {
    opacity: 0;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
}

td.clog_logcell {
    border-radius: 15px;
    box-shadow: 2px 2px 5px #888888;
}

td.clog_logcell label {
  display: inline-block;
  width: 60%;
  height: 1em;
  padding: 10px 0px 10px 0px;
  margin-left: -10px;
  text-align: center;
  border-radius: 5px; 
}

td.clog_logcell input[type=text] {
  outline: none;
  border: none;
  border-style: none;
  background: none;
  font-size: 80%;
  font-weight: 400;
  letter-spacing: -1px;
}

td.clog_logcell input[type=number] {
  border: none;
  width: 2em;
}

td.clog_logcell input[type=checkbox]:checked + label {
    font-size: 140%;
}

td.clog_logcell input[type=submit] {
  padding:1px 1px; 
  background: #ccc; 
  border: 3px none;
  cursor:pointer;
  border-radius: 5px; 
}

.clog_logentry td {
  border: 0.2em solid white;
  border-bottom: 0.1em solid rgba(255, 0, 0, .38);
}

.clog_logentry th {
  border-bottom: 2px solid rgba(255, 0, 0, .38);
}

form.clog_share_vars label {
    text-align: left;
}

form.clog_share_vars li {
    list-style-type: none;
}


/*———————————————————————————————————————————————————————————*/
/******** NextTask ********/
/*———————————————————————————————————————————————————————————*/

.deemphasize {
    font-size: 70%;
    color: var(--less-fg);
}

.inline_form {
    display: inline
}

input, select, button, option {
    font-size: 100%;
} /* override weird setting in third-party css */

button.abandon {
    padding: 0.1rem 0.2rem;
}

#columns-wrapper{
    display: table;
}

#columns{
    display: table-row;
}

#columns > div {
    display: table-cell;
    vertical-align: top;
}

div.filters {
    background: var(--more-bg);
    border: none;
    margin-left: 1em;
    padding: 1em;
    padding-right: 2em;
}

.filters ul {
    list-style-type: none;
    padding-left: 0;
}

.filters li {
    border-bottom: 1px dotted var(--more-fg);

}

.exclude_tag {
    float: right;
}

.right_button {
    float: right;
}

.nextline_late {
    background-color: #FCC;
}

.nextline_done {
    background-color: rgba(10, 255, 10, .56);
}

.nextline_early {
    background-color: yellow;
}

ul.done_list {
    padding-left: 1.2em;
    list-style-type: none;
}


.done_list li:before {
    content: "✓";
}

.done_list li {
    list-style-type: none;
    font-size: 500%;
}

.done_list s {
    color: var(--least-fg);
}

.done_list span {
    color: var(--less-fg);
}


/*———————————————————————————————————————————————————————————*/
/* override django_tables2 styles */
/*———————————————————————————————————————————————————————————*/

table.paleblue {
    font-family: var(--serif)!important;
    border: none!important;
    font-size: inherit!important;
}

table.paleblue + ul.pagination {
    background: var(--bg)!important;
    border: none!important;
}

table.paleblue thead a:link {
    color: var(--fg)!important;
}

table.paleblue thead a:visited {
    color: var(--fg)!important;
}

table.paleblue thead td,
table.paleblue thead th {
    font-size: inherit!important;
    font-weight: inherit!important;
    background: var(--more-bg)!important;
    color: var(--more-fg)!important;
    border: none!important;
}

table.paleblue thead tr th a {
    font-variant-caps: small-caps;
    background-color: var(--more-bg)!important;
}

table.paleblue a:link {
    color: var(--fg)!important;
    font-weight: normal!important;
}

table.paleblue a:visited {
    color: var(--fg)!important;
}


table.paleblue tr.odd {
    background-color: var(--bg)!important;
    color: var(--fg)!important;
    border: none!important;
}

table.paleblue tr.even {
    background-color: var(--more-bg)!important;
    color: var(--fg)!important;
}

table.paleblue th {
    border-color: var(--more-bg)!important;
}

table.paleblue td {
    border: none!important;
/*    border-right: 1px solid var(--least-fg)!important;
    border-left: 1px solid var(--least-fg)!important;*/
}
