{% extends "base.html" %}
{% load breadcrumbs %}

{% block breadcrumb_trail %}
{{ block.super }}
[{% filter_tasks %}]
{% endblock %}

{% block content %}
{% load whatnext %}

<div class="layout-rows swipe-rows">
  {% whatnext %}

<ul class="whatnext_outline">
  {% for clog in clog_done_today %}
  <li class="done"><a href="{% url 'clog:index' %}?{{return_url}}&{{pass_on_params}}">{{ clog }}</a></li>
  {% endfor %}
  {% for task in done_since %}
  <li class="done"><a href="{% url 'nexttask:task_update' task.pk %}?{{return_url}}&{{pass_on_params}}">{{ task }}</a></li>
  {% endfor %}
</ul>

<div>
  <table>
  <thead class="pure-form">
      <form class="pure-form" action=" {% url 'nexttask:task_create' %}?return_url=/&{{ pass_on_params}}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="put_at_top" value="top"/>
    {% if default_tag_id %}
    <input type="hidden" name="tags" value="{{ default_tag_id }}"/>
    {% endif %}
    <tr>
      <td width="200px">
	  <input class="pure-input" id="new_task_name" placeholder="new task name" tabindex=1 autofocus size="30" maxlength="500" name="name" type="text" />
      </td>
      <td>
	  <input class="pure-input" id="new_task_estimate" placeholder="estimated duration" tabindex=2 size="5" maxlength="50" name="estimate" type="text" />
      </td>
      <td>
	  {{ default_tag_name }}
      </td>
      <td>
        <button class="pure-button pure-button-primary" id="submitTaskTop" tabindex=3>
	  Add to top
        </button>
      </td>
    </tr>
    </form>
  </thead>    
</table>
</div>

{% endblock %}
