a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ao3_body { 
    margin:0 auto
}

.ao3_navbar {
    background-color: #EDEDED;
    padding: 0.2em;
}

.nav_left_cell {
    float: left;
    width: 60%;
}

.nav_right_cell {
    float: right;
    width: 30%
    text-align: right;
}

.nav {
    padding-left: 0;
}

.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

ul.details {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
}

ul.details li {
    float: left;
    width: 20vw;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #E0E0E0;
}

ul.details li a {
    display: block;
    padding: 1vw;
    color: rgba(0, 0, 0, 0.68);    
    background-color: #E8F5E9;
    text-decoration: none;
}

ul.details li a:hover {
    background-color: #66BB6A;
}

.pull-right {
    float:right;
}

.deemphasize {
    font-size: 70%;
    color: #666666;
    line-height: 80%
}

.inline_form {
    display: inline
}

input, select, button, option {
    font-size: 100%;
} /* override weird setting in third-party css */

#columns-wrapper{
    display: table;
}

#columns{
    display: table-row;
}

#columns > div {
    display: table-cell;
    vertical-align: top;
}

div.filters {
    background: #DDEEf6;
    border: 1px solid lightseagreen;
    padding: 1em;
    padding-right: 2em;
}

.filters ul {
    list-style-type: none;
    padding-left: 0;
}

.filters li {
    border-bottom: 1px dotted gray;

}
.exclude_tag {
    float: right;
}

.right_button {
    float: right;
}

.new_button {
    background-color: #E0E0E0!important;
}

.nextline_late {
    background-color: #FCC;
}

.nextline_done {
    background-color: rgba(10, 255, 10, .56);
}

.nextline_early {
    background-color: yellow;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

/* override django_tables2 styles */

table.paleblue thead td {
    font-size: 70%;
}

body {
  font-size: 16px;
}

.closed_remote {
  text-decoration: line-through !important;
  font-style: italic;
}

.open_remote {
  font-style: italic;
}

table.paleblue tr.odd {
    background-color: #E8F5E9!important;
}

table.paleblue a:link,
table.paleblue a:visited,
table.paleblue + ul.pagination > li > a {
    color: black!important;
}


@viewport{
    zoom: 1.0;
    width: device-width;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ao3_body { 
    margin:0 auto
}

.ao3_navbar {
    background-color: #EDEDED;
    padding: 0.2em;
}

.nav_left_cell {
    float: left;
    width: 60%;
}

.nav_right_cell {
    float: right;
    width: 30%
    text-align: right;
}

.nav {
    padding-left: 0;
}

.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.pull-right {
    float:right;
}

.deemphasize {
    font-size: 70%;
    color: #666666;
    line-height: 80%
}

.inline_form {
    display: inline
}

input, select, button, option {
    font-size: 100%;
} /* override weird setting in third-party css */

#columns-wrapper{
    display: table;
}

#columns{
    display: table-row;
}

#columns > div {
    display: table-cell;
    vertical-align: top;
}

div.filters {
    background: #DDEEf6;
    border: 1px solid lightseagreen;
    padding: 1em;
    padding-right: 2em;
}

.filters ul {
    list-style-type: none;
    padding-left: 0;
}

.filters li {
    border-bottom: 1px dotted gray;

}
.exclude_tag {
    float: right;
}

.right_button {
    float: right;
}

.nextline_late {
    background-color: #FCC;
}

.nextline_done {
    background-color: rgba(10, 255, 10, .56);
}

.nextline_early {
    background-color: yellow;
}

ul.done_list {
    padding-left: 1.2em;
    list-style-type: none;
}


.done_list li:before {
    content: "✓";
}

.done_list li {
    list-style-type: none;
    font-size: 5vmin;
}

.done_list s {
    color: rgba(0, 0, 0, .35);
}

.done_list span {
    color: rgba(0, 0, 0, .56);
}

/* override django_tables2 styles */

table.paleblue thead td {
    font-size: 70%;
}

body {
  font-size: 16pt;
}

.closed_remote {
  text-decoration: line-through !important;
  font-style: italic;
}

.open_remote {
  font-style: italic;
}

/* override django_tables2 styles */

table.paleblue thead td {
    font-size: 70%;
}
