{% if count_report %}
<table class="clog_count_report">
<tr>
<th/>
<th>This Week</th>
<th>Target</th>
<th>Last Week</th>
</tr>
{% for row in count_report %}
{% with var=row.0 prev_var=row.1 %}
<tr>
  <td>{{ var.name }}</td>
  <td>{% include 'includes/report_cell.html' with var=var %}</td>

  <td>{% if var.type == 'me' %}
        {% if var.good_min = var.good_max %}
          {{ var.good_max|floatformat:1 }}
        {% else %}
          {{ var.good_min|floatformat:1 }}–{{ var.good_max|floatformat:1 }}
        {% endif %}
      {% else %}
        {% if var.good_min = var.good_max %}
          {{ var.good_max|floatformat:0 }} day{{var.good_max|pluralize}}
        {% else %}
          {{ var.good_min|floatformat:"0" }}–{{ var.good_max|floatformat:"0" }} days
        {% endif %}
      {% endif %}
   </td>
  <td>{% include 'includes/report_cell.html' with var=prev_var %}</td>
</tr>
{% endwith %}
{% endfor %}
</table>
{% endif %}

