<p>{{ subject }}</p>
{% if count_report %}

{% for row in count_report %}
{% with var=row.0 prev_var=row.1 %}
<strong>{{ var.name }}</strong>
<ul>
  <li>{% include 'includes/report_cell.html' with var=var %}</li>
  <li>Target: 
      {% if var.type == 'me' %}
        {% if var.good_min = var.good_max %}
          {{ var.good_max|floatformat:1 }}
        {% else %}
          {{ var.good_min|floatformat:1 }}–{{ var.good_max|floatformat:1 }}
        {% endif %}
      {% else %}
        {% if var.good_min = var.good_max %}
          {{ var.good_max|floatformat:0 }} day{{var.good_max|pluralize}}
        {% else %}
          {{ var.good_min|floatformat:"0" }}–{{ var.good_max|floatformat:"0" }} days
        {% endif %}
    {% endif %}</li>
  <li>Last Week: {% include 'includes/report_cell.html' with var=prev_var %}</li>
</ul>
{% endwith %}
{% endfor %}
{% else %}
  No information was reported this week.
{% endif %}

