{% extends "base.html" %}
{% load static %}
{% load clog_extras %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item"><span class="breadcrumb-end">Life Log</span></li>
{% endblock %}

{% block content %}
<div class="main-content">
<table class="clog_logentry">
  {% include 'includes/dateheader_row.html' with date_range=date_range %}
  {% for variable in var_results %}
  <tr class="clog_variable_row">
    {% include 'includes/variable_header.html' with pk=variable.pk type=variable.type name=variable.name short_name=variable.short_name %} 
    {% include 'includes/variable_chart.html' with variable=variable %}
    {% for date in date_range %}
      {% get_logentry_form_fields varreport variable.id date variable.type as fields %}
      {% include 'includes/variable_cell.html' with variable=variable fields=fields %}
    {% endfor %}
    {% include 'includes/variable_header.html' with pk=variable.pk type=variable.type name=variable.name short_name=variable.short_name %} 
  </tr>
  {% endfor %}
  {% include 'includes/dateheader_row.html' with date_range=date_range %}
</table>
{% if share_list %}
<ul>
  {% for share in share_list %}
    <li><a href="{% url 'clog:share_view' share.pk %}">View shared information from {{ share.share_from }}</a></li>
  {% endfor %}
</ul>
{% endif %}
</div>

<div class="layout-columns shadowbar">
  <span>
    <a class="pure-button"
       id="edit" 
       href="{% url 'clog:variable_create' %}">
       Add Variable
    </a>
  <span>
  </span>
    <a class="pure-button"
       id="edit" 
       href="{% url 'clog:refresh_charts' %}">
       Refresh Charts
    </a>
  <span>
  </span>
    <a class="pure-button"
       id="edit" 
       href="{% url 'clog:share_index' %}">
       Share
    </a>
  <span>
  </span>
    <a class="pure-button"
       id="edit" 
       href="{% url 'clog:import_vars' %}">
       Import Variables
    </a>
  <span>
  </span>
    <a class="pure-button"
       id="edit" 
       href="{% url 'clog:import_entries' %}">
       Import Entries
    </a>
  </span>
</div>

{% endblock %}
