{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ logentry.pk }}</span>
</li>

{% endblock %}


{% block content %}
<h1>{{ logentry.pk }}</h1>
<form action="{% url 'clog:logentry_update' logentry.pk %}" method="post">
{% csrf_token %}
<p><input type="text" name="variable" value="{{ logentry.variable }}" /></p>
<p><input type="text" name="log_date" value="{{ logentry.log_date }}" /></p>
<p><input type="text" name="bo_value" value="{{ logentry.bo_value }}" /></p>
<p><input type="text" name="nu_value" value="{{ logentry.nu_value }}" /></p>
<p><input type="text" name="te_value" value="{{ logentry.te_value }}" /></p>
<p><input type="submit" value="Save"/>
</form>
{% endblock %}
