{% extends "base.html" %}
{% load static %}
{% load clog_extras %}
{% block content %}
<p><a href="/clog">Back</a></p>
<h1>Shared Data</h1>
{{ sharewith.share_from }}</h1>
<table class="clog_logentry">
  <tr>
    <th colspan="2"/>
    {% for date in date_range %}
    <th class="clog_datecol{{ forloop.counter }}">
      {% if forloop.counter = 1 or forloop.counter = 8 %}
        {{ date|date:'j M' }}
      {% else %}
        {{ date|date:'j' }}
      {% endif %}
      <br/>{{ date|date:'D' }}
    </th>
    {% endfor %}
    <th/>
  </tr>
  {% for variable in var_results %}
  <tr class="clog_variable_row">
    <th class="clog_varname">
      {% include 'includes/variable_header.html' with pk=variable.pk name=variable.name short_name=variable.name %} 
    </th>
    <td><a href='{{ variable|get_chart_url }}'><img src='{{ variable|get_chart_url }}' style='width: 80px;'/></a></td>
    {% for date in date_range %}
      {% if forloop.counter = 1 %}
        {% varstats_lookup varstats variable.name 1 as class %}
      {% else %}
        {% varstats_lookup varstats variable.name 0 as class %}
      {% endif %}
      <td class="clog_logcell {{ class }} ">
      {% get_logentry_form_fields log_list variable.name date variable.type as fields %}
      {% if not fields.error %}
      <form action="{{ fields.action }}" method="post">
        {% csrf_token %}
        <input name="value" 
               type="{{ fields.type }}"
               class="clog_{{ variable.type }}"
               id="{{ date|date:'c' }}-{{ variable.name }}"
               readonly
               onclick="return false"
               {% if fields.size %}size="{{fields.size }}"{% endif %}
               {% if fields.value %}value="{{ fields.value }}"{% endif %} 
               {% if fields.checked %}checked{% endif %}/>
        {%if fields.type == "checkbox" %}
           <label for="{{ date|date:'c' }}-{{ variable.name }}"/>
        {% endif %}
      </form>
      {% else %}
      Error!
      {% endif %}
    </td>
    {% endfor %}
    <th class="clog_varname">
      {% include 'includes/variable_header.html' with pk=variable.pk name=variable.name short_name=variable.short_name %} 
    </th>
  </tr>
  {% endfor %}
  <tr>
    <th colspan="2"/>
    {% for date in date_range %}
    <th class="clog_datecol{{ forloop.counter }}">
      {% if forloop.counter = 1 or forloop.counter = 8 %}
        {{ date|date:'j M' }}
      {% else %}
        {{ date|date:'j' }}
      {% endif %}
      <br/>{{ date|date:'D' }}
    </th>
    {% endfor %}
    <th/>
  </tr>
</table>

{% endblock %}
