{% extends "base.html" %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">Share</span>
</li>

{% endblock %}

{% block content %}
<form action="" method="post" class="share_vars">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="save" type="submit" value="Done">
</form>
{% endblock %}
