{% extends "base.html" %}
{% load static %}
{% load clog_extras %}


{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">Sharing</span>
</li>

{% endblock %}

{% block content %}
<h1>Sharing</h1>
<ul>
{% for share in object_list %}
  <li><a href="{% url 'clog:share_detail' share.pk %}">{{ share }}</a>
  </li>
{% empty %}
  <li>Data is not currently shared with anyone else.</li>
{% endfor %}
</ul>

<nav>
  <ul>
    <li><a href="{% url 'clog:share_create' %}">Share data with another person</a></li>
  </ul>
</nav>

{% endblock %}
