{% extends "base.html" %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ object }}</span>
</li>

{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

<p>Email: {{ object.share_with_email }}</p>


{% if logentry_list %}
  Currently sharing:
  <ul>
    {% for item in logentry_list %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

  {% if yesterday_logentries %}
    <p>Daily report for yesterday, {{ yesterday }}, is:</p>
    {% include 'includes/daily_report.html' with logentries=yesterday_logentries %}
    <p><a href="{% url 'clog:send_daily' object.pk %}">Send Daily Email</a>.</p>
  {% else %}
      No data from yesterday
  {% endif %}

  <p>Weekly report for {{ week_ago|date:"l, j M Y" }} to {{ yesterday|date:"l, j M" }} is</p>
  {% include 'includes/count_report.html' with count_report=count_report %}
  <p><a href="{% url 'clog:send_weekly' object.pk %}">Send Weekly Email</a>.</p>

  {% else %}
    Not sharing any variables
  {% endif %}


<p><a id="edit" href="{% url 'clog:share_update' object.pk %}">Edit {{ object }}</a></p>
<p>Stop sharing with {{ object.share_with_email }}</p>

{% endblock %}
