<div class="single_item">
  <div class="name clog_{{ fields.dashboard_status }}">
    {{ variable.name }}
  </div>
  <div class="buttonrow actionrow">
    <div>
      <form action="{{ fields.action }}" method="post">
        {% csrf_token %}
        {% if fields.type == "checkbox" %}
        <input type="hidden"
               name="value"
               class="clog_input clog_{{ variable.type }}"
               id="{{ date|date:'c' }}-{{ variable.name }}"
               value='checked'
               />
        <input type="submit" value="Done"/>
        {% else %}
        <input name="value"
               type="{{ fields.type }}"
               class="clog_input clog_{{ variable.type }}"
               id="{{ date|date:'c' }}-{{ variable.name }}"
               onChange="this.form.submit()"
               {% if fields.size %}size="{{fields.size }}"{% endif %}/>
        {% endif %}
        {% if return_url %}
        <input type="hidden" name="return_url" value="{{ return_url }}"/>
        {% endif %}
        {% if fields.variable %}
        <input type="hidden" name="variable" value="{{ fields.variable }}"/>
        {% endif %}
        {% if fields.date %}
        <input type="hidden" name="date" value="{{ fields.date|date:"c" }}"/>
        {% endif %}
      </form>
    </div>
    <div>
      <a href="{% url 'clog:snooze' variable.pk%}?return_url={{return_url}}&amount=tomorrow">Tomorrow</a>
    </div>
  </div>
</div>
