{% extends "base.html" %}

{% block breadcrumb_trail %}
{{ block.super }}
<li class="pure-menu-item">»</li>
<li class="pure-menu-item">
  <span class="breadcrumb-end">{{ object.name }}</span>
</li>

{% endblock %}

{% block content %}
<div class="main-content">
<h1>{{ object.name }}</h1>

<p>Name: {{ object.name }}</p>
<p>Short Name: {{ object.short_name }}</p>
<p>Include in What Next: {{ object.remind }}</p>
<p>Type: {{ object.type }}</p>
<p>Order: {{ object.order }}</p>
<p>Target_min: {{ object.target_min }} (only used for Measurement)</p>
<p>Target_min: {{ object.target_min }} (only used for Measurement)</p>
<p>Good_min: {{ object.good_min }} (for Measurement, used for delta)</p>
<p>Good_max: {{ object.good_max }} (for Measurement, used for delta)</p>
<p>Okay_min: {{ object.okay_min }} (not used for Measurement)</p>
<p>Okay_max: {{ object.okay_max }} (not used for Measurement)</p>
<p>Bad_min: {{ object.bad_min }} (not used for Measurement)</p>
<p>Bad_max: {{ object.bad_max }} (not used for Measurement)</p>
</div>

<div class="layout-columns shadowbar">
  <span>
    <a class="pure-button pure-button-primary"
       href="{% url 'clog:variable_update' object.pk %}">
      Edit {{ object.name }}
    </a>
  </span>

  <span>
    <a class="pure-button pure-button-primary pure-button-disabled"
       href="">
      Delete {{ object.name }} (not implemented)
    </a>
  </span>

  <span>
    <a class="pure-button pure-button-primary pure-button-disabled"
       href="">
      Full history (not implemented)
    </a>
  </span>

  <span>
    <a class="pure-button pure-button-primary pure-button-disabled"
       href="">
      Show Chart (not implemented)
    </a>
  </span>

</div>

{% endblock %}
