{% load clog_extras %}
<h4>{{ date|date:"l, j M Y" }}</h4>
{% if logentries %}
<ul>
{% for logentry in logentries %}
<li>{{ logentry|pretty_logentry }}
</li>
{% endfor %}
</ul>
{% else %}
No data today.
{% endif %}
