<tr>
  <th colspan="2"/>
  {% for date in date_range %}
  <th class="clog_datecol{{ forloop.counter }}">
    {% if forloop.counter == 1 or forloop.counter == 8 %}
      {{ date|date:'j M' }}
    {% else %}
      {{ date|date:'j' }}
    {% endif %}
    <br/>{{ date|date:'D' }}
  </th>
  {% endfor %}
  <th/>
</tr>
