{% if variable.type == 'di' %}
{% else %}
  <td class="clog_logcell clog_{{ fields.dashboard_status }} ">
    {% if not fields.error %}
      {% if variable.type == 'me' and fields.avg %}
        {{ fields.avg|floatformat:1 }}<br/>
        {% if fields.delta < 0 %}▼{% else %}▲{% endif %}
        {{ fields.delta|floatformat:2 }}
      {% endif %}
      <form action="{{ fields.action }}" method="post">
      {% csrf_token %}
      {% if return_url %}
      <input name="return_url"
             type="hidden"
             value="{{ return_url }}"/>
      {% endif%}
      <input name="value" 
             type="{{ fields.type }}"
             class="clog_input clog_{{ variable.type }}"
             id="{{ date|date:'c' }}-{{ variable.name }}"
             onChange="this.form.submit()"
             {% if fields.size %}size="{{fields.size }}"{% endif %}
             {% if fields.value %}value="{{ fields.value }}"{% endif %} 
             {% if fields.checked %}checked{% endif %}/>
      {% if fields.type == "checkbox" %}
         <label class="clog_label" for="{{ date|date:'c' }}-{{ variable.name }}">{% if fields.checked %}✔{% endif %}</label>
      {% endif %}
      {% if fields.variable %}
        <input type="hidden" name="variable" value="{{ fields.variable }}"/>
      {% endif %}
      {% if fields.date %}
        <input type="hidden" name="date" value="{{ fields.date|date:"c" }}"/>
      {% endif %}
    </form>
  {% else %}
    Error!
  {% endif %}
  </td>
{% endif %}
