{% load clog_extras %}
{% if variable.type == 'di' %}
<td class="clog_divider" colspan="9">
{% else %}
  <td>
    <a href='{{ variable|get_big_chart_url }}'>
      <img src='{{ variable|get_thumb_chart_url }}' style='width: 80px;'/>
    </a>
{% endif %}
</td>
