{% if type == 'di' %}
  <th class="clog_divider">
{% else %}
  <th class="clog_varname">
{% endif %}

{% if type == 'di' %}
{% else %}
    <a href="{% url 'clog:variable_detail' pk=pk %}" title="{{ name }}">
  {% if short_name %}
    {{ short_name }}
  {% else %}
    {{ name }}
  </a>
  {% endif %}
{% endif %}

</th>
